/* index.css */

/* Genel düzenlemeler */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px; /* Formun maksimum genişliği */
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Başlık stilleri */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px; /* Başlık altına biraz boşluk bırakmak için */
  font-size: 24px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

/* Linklerin stil tanımları */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buton stilleri */
button {
  width: 100%; /* Button'ı textbox ve header ile aynı genişlikte yapar */
  margin-top: 10px; /* Textbox'ın altında biraz boşluk bırakmak için */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Form stilleri */
input[type="text"],
input[type="password"] {
  width: calc(100% - 22px); /* Paddingler dahil olacak şekilde genişlik hesaplanıyor */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error,
.success {
  margin-top: 5px;
}

.error {
  color: red;
}

.success {
  color: green;
}
